<a href="https://colab.research.google.com/github/2303a56152/AMD/blob/main/assesment_06_adm_1652.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from datetime import datetime

In [ ]:
print("\n--- Data Encoding ---")
data = {'Category': ['A', 'B', 'C', 'A', 'B']}
df = pd.DataFrame(data)

--- Data Encoding ---

In [ ]:
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])

In [ ]:
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df_encoded = pd.concat([df, one_hot_encoded], axis=1)
print(df_encoded)

  Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [ ]:
print("\n--- Creating Derived Columns ---")
data_dob = {'Name': ['Alice', 'Bob'], 'Date_of_Birth': ['1990-05-14', '1985-08-23']}
df_dob = pd.DataFrame(data_dob)

--- Creating Derived Columns ---

In [ ]:
df_dob['Date_of_Birth'] = pd.to_datetime(df_dob['Date_of_Birth'])

In [ ]:
current_year = datetime.now().year
df_dob['Age'] = current_year - df_dob['Date_of_Birth'].dt.year
print(df_dob)

    Name Date_of_Birth  Age
0  Alice    1990-05-14   35
1    Bob    1985-08-23   40

In [ ]:
print("\n--- Grouping and Aggregating Data ---")
data_group = {'Category': ['A', 'A', 'B', 'B', 'C'], 'Value': [10, 20, 10, 30, 40]}
df_group = pd.DataFrame(data_group)

--- Grouping and Aggregating Data ---

In [ ]:
grouped = df_group.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [ ]:
pivot = df_group.pivot_table(index='Category', values='Value', aggfunc=['sum', 'mean'])
print("\nPivot Table:\n", pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0